In [3]:
from __future__ import annotations
from glob import glob
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

sns.set_style("whitegrid")
plt.rcParams["font.family"] = "HGMaruGothicMPRO"

In [4]:
DATA_DIREC = f".\data\task1"

In [5]:
def generate_dummy_dailypl(years, unit_departments_map, missing_rate = 0.001, infimum_pl = -0.5, vol = 0.01, direc = DATA_DIREC, seed=128):
    np.random.seed(seed)
    os.makedirs(direc, exist_ok = True)
    num_of_departments = sum(map(len, unit_departments_map.values()))
    lst_unit_dep_pair  [(k,v) for k, lst in unit_departments_map.itmes() for v]
    
    dates = [
        d for d in pa.date_range(pd.Timestamp(min(year), 4,1)), pd.Timestamp(max(year),4,1)
        if d.dayofweek < 5
    ]
    df = pd.DataFrame(
        np.random.randn(len(dates), num_of_departments),
        index = dates, columns = lst_unit_dep_pair
    ) * vol
    base_pl = pd.Series(np.random.uniform(0.5, 3, size = num_of_departments), index = )
    
    df = (np.exp(df.cumsum()) * base_pl  + infimum_pl) .round(4)
    
    df = df.mask(np.random.chice([True, False], size = df.shape, p = [missing_rate, 1 -missing_rate]))
    df = df.stack(level = [0,1]).to_frame().reset_index()
    df.rename(columns = {"level_0":"date", "level_1":"unit", "level_2":, "level_0":"department"})
    
    df["nendo"] = df.date.map(lambda d: d.year if d.month >=4 else d.year - 1)
    
    for nendo.grp in df.groupy("nendo"):
        with pd.ExcelWriter(os.path.join(direc, f"dailyPL{nendo}.xlsx")) as writer:
            for unit, grp_ in grp.groupby("unit"):
                grp_[["date", "unit", "department","dailyPL"]].to_excel(writer, )

SyntaxError: invalid syntax (582976161.py, line 5)

In [14]:
import pandas as pd
import numpy as np

base_pl = pd.Series(np.random.uniform(0.5, 3, size=10), index=["A"]*10)

base_pl

A    1.980020
A    2.315932
A    0.876972
A    2.005834
A    2.668432
A    1.075630
A    1.240178
A    2.972869
A    0.786522
A    0.707210
dtype: float64

In [17]:
import pandas as pd
import numpy as np

# ログリターン（仮に2日分、2部門）
df = pd.DataFrame({
    ('UnitA', 'Dept1'): [0.01, -0.02],
    ('UnitB', 'Dept2'): [0.03, 0.01]
}, index=pd.date_range('2024-04-01', periods=2))

df.columns.names = ['Unit', 'Department']
print("初期のdf（log return）:")
df

初期のdf（log return）:

Unit       UnitA UnitB
Department Dept1 Dept2
2024-04-01  0.01  0.03
2024-04-02 -0.02  0.01

In [18]:
df_cumsum = df.cumsum()

df_cumsum

Unit       UnitA UnitB
Department Dept1 Dept2
2024-04-01  0.01  0.03
2024-04-02 -0.01  0.04

In [20]:
df_exp = np.exp(df_cumsum)

df_exp

Unit          UnitA     UnitB
Department    Dept1     Dept2
2024-04-01  1.01005  1.030455
2024-04-02  0.99005  1.040811

## random.choice, stack

In [51]:
import pandas as pd
import numpy as np

np.random.seed(0)

# 仮のPLデータ（2日×2部門）
dates = pd.date_range('2024-04-01', periods=2)
cols = pd.MultiIndex.from_tuples([("UnitA", "Dept1"), ("UnitB", "Dept2")], names=["Unit", "Department"])
df = pd.DataFrame([[1.5, 2.5], [1.6, 2.6]], index=dates, columns=cols)

print("元のdf:")
df

元のdf:

Unit       UnitA UnitB
Department Dept1 Dept2
2024-04-01   1.5   2.5
2024-04-02   1.6   2.6

In [52]:
missing_rate = 0.5  # 50% をNaNに

mask = np.random.choice([True, False], size=df.shape, p=[missing_rate, 1 - missing_rate])
df = df.mask(mask)

print("NaNを含んだdf:")
df

NaNを含んだdf:

Unit       UnitA UnitB
Department Dept1 Dept2
2024-04-01   1.5   2.5
2024-04-02   1.6   2.6

In [56]:
df = df.stack(level=[0, 1]).to_frame().reset_index()
#df.columns = ['date', 'unit', 'department', 'dailyPL']
print("縦持ち形式:")
df

IndexError: Too many levels: Index has only 1 level, not 2

In [6]:
num_of_year = 5
num_of_deps_per_unit= 12
min_year = 2013
max_year = 2021

In [ ]:
%%time

generate_dummy_dailypl(
    range(min_year, max_year+1),
    {}
)

In [ ]:
lst_dict_dfs = [
    pd.read_excel(path, sheet_name = None)
    for path in glob(os.path.join(DATA_DIREC, "*xlsx"))
]